@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$background-primary: #27272A;
$background-secondary: #202124;
$color-primary: #FFFFFF;
$color-secondary: #A1A1AA;

:root {
  --color-light: #FFFFFF;
  --color-dark: #A1A1AA;
  --background-light: #27272A;
  --background-dark: #202124;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;

}

html,
body,
#root,
.app {
  height: 100vh;
  color: $color-primary;
  background-color: $background-primary;
  font-size: 14px;
  display: grid;
  grid-template-columns: 234px auto;
  grid-template-rows: 44px auto;

}