.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-dark);
    border-bottom: 1px solid #414144;
    padding: 18px 12px;

    &.child-row {
        td {
            // padding-left: calc(var(--base-padding, 0px) + 20px);
        }
    }

    td {
        margin-right: 20px;
    }

    input:disabled {
        border: 0;
        color: inherit;
    }

    input {
        background-color: var(--bg-dark);
        border: 0;
        color: inherit;
        font-size: 14px;
        width: 125px;

        &:not(:disabled) {
            outline: none;
            border: 1px solid #414144;
            border-radius: 6px;
            // width: 100%;
            padding: 5px 5px 5px 0;
            color: #71717A;
        }

    }

    // input::selection {
    //     background: transparent;


    // }
}